[tool.poetry]
name = "opensoundscape"
version = "0.9.1"
description = "Open source, scalable acoustic classification for ecology and conservation"
authors = [
  "Sam Lapp <sammlapp@gmail.com>",
  "Tessa Rhinehart <tessa.rhinehart@gmail.com>",
  "Louis Freeland-Haynes <>",
  "Jatin Khilnani <>",
  "Sasha Syunkova <>",
  "Justin Kitzes <justin.kitzes@pitt.edu>",
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/jkitzes/opensoundscape"
packages = [{include = "opensoundscape"}]
include = ["opensoundscape/**/*.py"]

[tool.poetry.dependencies]
python = ">=3.8"
docopt = ">=0.6.2"
librosa = ">=0.10.0"
torch = ">=2.0.0, !=2.0.1"
torchvision = ">=0.15.1"
ipykernel = ">=5.2.0"
pandas = ">=1.3"
matplotlib = ">=3.2.1"
schema = ">=0.7.2"
jupyterlab = ">=2.1.4"
scikit-image = ">=0.17.2"
numba = ">=0.57.0"
scikit-learn = ">=0.24.2"
Jinja2 = "<3.0"
ipython = ">=7.10"
pywavelets = ">=1.2.0"
Deprecated = "^1.2.13"
soundfile = ">=0.11"
wandb = "^0.13.4"
pillow = ">=9.3.0"
jupyter-server = ">=1.17.0"
protobuf = ">=4.21.6"
joblib = ">=1.2.0"
certifi = ">=2022.12.7"
grad-cam = ">=1.4.6"
sentry-sdk = ">=1.14.0"
aru-metadata-parser = ">=0.1.0"

[tool.poetry.dev-dependencies]
black = "~=22.8"
pre-commit = ">=1.18"
sphinx = ">=2.1"
pytest = ">=5.1"
sphinx-rtd-theme = ">=0.4.3"
recommonmark = ">=0.6.0"
nbsphinx = ">=0.7.1"
m2r = ">=0.2"
docutils = ">=0.20"

[tool.black]
line-length = 88
target_version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | dist
)/
'''

[tool.poetry.scripts]
opensoundscape = "opensoundscape.console:entrypoint"
build_docs = "opensoundscape.console:build_docs"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
