[tool.poetry]
name = "opensoundscape"
version = "1.0.0.alpha0"
description = "Open source, scalable acoustic classification for ecology and conservation"
authors = [
  "Justin Kitzes <justin.kitzes@pitt.edu>",
  "Barry Moore <moore0557@gmail.com>",
  "Tessa Rhinehart <tessa.rhinehart@gmail.com>",
  "Trieste Devlin <trieste.devlin@pitt.edu>"
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/jkitzes/opensoundscape"
packages = [{include = "opensoundscape"}]
include = ["opensoundscape/**/*.py"]

[tool.poetry.dependencies]
python = "^3.6"
docopt = "^0.6.2"

[tool.poetry.dev-dependencies]
black = "=19.3b0"
pre-commit = "^1.18"
sphinx = "^2.1"
pytest = "^5.1"

[tool.black]
line-length = 88
py36 = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | dist
)/
'''

[tool.poetry.scripts]
opensoundscape = "opensoundscape.console:entrypoint"
build_docs = "opensoundscape.console:build_docs"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
