/* side header on desktop and mobile */
.wy-side-nav-search, .wy-nav-top {
      background: #1d9a5a;
    }

/* header text on menu and index TOC */
span.caption-text {
    color: #1d9a5a;
}


/* unvisited link */
/*
a:link {
  color: #02bd75;
}*/

/* visited link */
a:visited{color:#1d6985}
a:hover{color:#1d8579}
/* Keep menu links uncolorful */
.wy-menu-vertical a{color: #d9d9d9}

/* Code Colors */
code,.rst-content tt,.rst-content code{
    background:#fff;
    border:solid 1px #e1e4e5;
    color:#E74C3C;
}
